<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./main.css" />
    <title>Ninja | Tasker</title>
  </head>
  <body>
    <div id="container">
      <div id="logo"></div>
      <form action="/home" method="post">
        <input
          name="taskItem"
          class="user-input"
          type="text"
          placeholder="Task To complete"
          required
        />
        <input class="user-button" type="submit" value="Add" />
      </form>

      <ul>
        <% for(let i=0; i < list.length; i++) {%>
        <li class="ninja-item" id="<%= list[i].id %>"><%= list[i].todo %></li>
        <% } %>
      </ul>
    </div>
    <script src="main.js"></script>
  </body>
</html>
